.companions-section {
  position: relative;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: $color-blue-600;

  &::before {
    @include pseudo();
    top: 67px;
    left: 0;
    width: 113px;
    height: 132px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $color-blue-700;
  }

  @include tablet() {
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;

    &::before {
      width: 212px;
      height: 212px;
      left: 39px;
      top: 134px;
      border-radius: 20px;
    }
  }
}

.companions-section__wrapper {
  position: relative;
  padding: 101px 25px 29px;

  &::before {
    @include pseudo();
    top: 340px;
    left: 0;
    width: 64px;
    height: 71px;
    background-image: url("../img/rogovaya-back-mobile.png");

    @include retina() {
      background-image: url("../img/rogovaya-back-mobile@2x.png");
      background-size: 100%;
    }
  }

  &::after {
    @include pseudo();
    z-index: -1;
    top: 68px;
    right: 25px;
    width: 143px;
    height: 143px;
    background-image: url("../img/smolov-back-desktop.png");

    @include retina() {
      background-image: url("../img/smolov-back-desktop@2x.png");
      background-size: 100%;
    }
  }

  @include tablet() {
    padding: 204px 50px 87px;

    &::before {
      @include pseudo();
      right: 74px;
      left: auto;
      top: 143px;
      width: 285px;
      height: 285px;
      background-image: url("../img/rogovaya-back-desktop.png");

      @include retina() {
        background-image: url("../img/rogovaya-back-desktop@2x.png");
        background-size: 100%;
      }
    }

    &::after {
      @include pseudo();
      left: 40px;
      top: 489px;
      right: auto;

      @include retina() {
        background-image: url("../img/smolov-back-desktop@2x.png");
        background-size: 100%;
      }
    }
  }
}

.companions-section__item-link {
  position: relative;
}

.companions-section__heading {
  margin-bottom: 19px;
  margin-left: 24px;

  @include tablet() {
    margin-bottom: 56px;
    margin-left: 23px;
  }
}

.companions-section__text {
  margin-right: 25px;
  margin-bottom: 21px;
  margin-left: 24px;

  @include tablet() {
    margin-bottom: 41px;
    padding-right: 25%;
  }
}

.companions-section__slogan {
  margin-right: 24px;
  margin-bottom: 54px;
  margin-left: 24px;

  @include tablet() {
    margin-bottom: 58px;
    padding-right: 50%;
  }
}

.companions-section__list {
  @include list();
  margin-bottom: 19px;

  @media (min-width: 630px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  @include tablet() {
    grid-column-gap: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 81px;
  }
}

.companions-section__item {
  flex-grow: 1;
  margin-bottom: 9px;
  border-radius: 10px;
  background-color: $color-white;

  @media (min-width: 630px) {
    min-width: 285px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet() {
    border-radius: 20px;
  }
}

.companions-section__button {
  @include tablet() {
    margin-right: 28px;
    margin-left: 24px;
  }
}
