.companion-item {
  display: flex;
  flex-direction: column;
}

.companion-item__name {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  position: relative;
  display: flex;
  margin: 0 auto 15px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  color: $color-blue-500;

  &::before {
    @include pseudo();
    top: 0;
    bottom: 0;
    left: 27px;
    width: 8px;
    height: 8px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
  }

  &--firsova {
    &::before {
      background-color: $color-red-150;
    }
  }

  &--demin {
    &::before {
      background-color: $color-green-100;
    }
  }

  @include tablet() {
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 24px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.companion-item__picture {
  overflow: hidden;
  height: 270px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @include desktop() {
    height: 285px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.companion-item__photo {
  display: block;
  width: 100%;
  margin-bottom: 27px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @include tablet() {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.companion-item__hashtags {
  line-height: 18px;
  margin: 0 auto 12px;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
  color: $color-gray-400;

  @include tablet() {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 23px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.companion-item__flags-list {
  margin: -10px 40px 14px;

  @include tablet() {
    margin-bottom: 17px;
  }

  @include desktop() {
    margin-bottom: 21px;
  }
}

.companion-item__transport {
  margin-bottom: 15px;

  @include tablet() {
    margin-bottom: 28px;
  }
}
