.developer-label {
  color: $color-gray-400;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-gray-200;
  padding-top: 14px;

  @include tablet() {
    grid-column-gap: 3/4;
    padding-top: 0;
    border: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin-left: 10px;
  }
}
