.direction-section {
  background-color: $color-blue-100;
}

.direction-section__wrapper {
  max-width: 1440px;
  padding-top: 70px;
  padding-right: 25px;
  padding-left: 25px;

  @include tablet() {
    padding-top: 73px;
  }
}

.direction-section__heading {
  margin-bottom: 19px;
  padding-left: 25px;

  @include tablet() {
    margin-bottom: 58px;
    padding-left: 48px;
  }
}

.direction-section__text {
  margin-bottom: 60px;
  padding-right: 45px;
  padding-left: 25px;
  color: $color-gray-400;

  @include tablet() {
    width: 56%;
    padding-right: 0;
    padding-left: 50px;
  }
}

.direction-section__list {
  @include list();
  margin-bottom: 26px;

  @include tablet() {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.direction-section__item {
  margin-bottom: 11px;
  position: relative;

  @include tablet() {
    display: grid;
    grid-template-columns: 1fr max-content;
  }
}

.direction-section__photo-container {
  display: block;
  order: 2;

  @include tablet() {
    width: 100%;
    height: 100%;
  }
}

.direction-section__photo {
  display: block;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;

  @include tablet() {
    width: 186px;
    height: 100%;
    min-height: 140px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.direction-section__container {
  position: relative;
  z-index: 1;
  display: grid;
  margin-top: -11px;
  padding: 26px 24px 22px;
  border-radius: 10px;
  background-color: $color-white;
  grid-template-columns: 1fr max-content;
  grid-column-gap: 30px;

  &--czech {
    padding-bottom: 4px;

    @media (min-width: 332px) {
      padding-bottom: 22px;
    }
  }

  @include tablet() {
    width: 100%;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    grid-template-columns: 1fr;
  }
}

.direction-section__country {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 2px;

  @include tablet() {
    font-size: 24px;
    line-height: 24px;
  }
}

.direction-section__flag-container {
  position: absolute;
  display: flex;
  left: 25px;
  bottom: 78px;
}

.direction-section__flag {
  position: relative;
  z-index: 2;
}

.direction-section__slogan {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
  color: $color-gray-200;
  grid-row: 2/3;

  @include tablet() {
    font-size: 20px;
    line-height: 20px;
  }
}

.direction-section__count {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  display: flex;
  margin-top: auto;
  color: $color-gray-300;
  grid-column: 2/3;

  &::before {
    @include pseudo();
    top: 0;
    bottom: 3px;
    left: -19px;
    width: 14px;
    height: 14px;
    margin-top: auto;
    margin-bottom: auto;
    background-image: url("../img/user.svg");
  }

  @include tablet() {
    font-size: 20px;
    line-height: 20px;
  }

  @include tablet() {
    grid-column: auto;
  }
}

.direction-section__button {
  &::after {
    right: 20px;
  }
}
