.flags-list {
  @include list();
  display: flex;
  justify-content: center;
}

.flags-list__tooltip {
  display: none;
}

.flags-list__item {
  display: flex;
  margin-right: 20px;
  position: relative;

  &::before {
    position: relative;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 35px;
    height: 24px;
    background-repeat: no-repeat;
  }

  &--sri-lanka {
    &::before {
      background-image: url("../img/flag-sri-lanka.svg");
    }
  }

  &--thailand {
    &::before {
      background-image: url("../img/flag-thailand.svg");
    }
  }

  &--seychelles {
    &::before {
      background-image: url("../img/flag-seychelles.svg");
    }
  }

  &--belgium {
    &::before {
      background-image: url("../img/flag-belgium.svg");
    }
  }

  &--czech {
    &::before {
      background-image: url("../img/flag-czech.svg");
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &::after {
    position: absolute;
    bottom: -250%;
    left: 50%;
    display: none;
    padding: 20px 18px 18px;
    content: attr(data-tooltip);
    transform: translateX(-50%);
    color: $color-white;
    background-color: $color-blue-700;
    z-index: 100;
    width: auto;
  }

  //todo куда мне треугольник прифигачить?
  //&::before {
  //  @include pseudo();
  //  top: -40%;
  //  left: 50%;
  //  display: none;
  //  width: 10px;
  //  height: 10px;
  //  transform: translateX(-50%) rotate(45deg);
  //  background-color: $color-blue-600;
  //}

  &:hover::after {
    display: block;
  }
}
