.page-footer {
  position: relative;
  margin-top: -35px;
  background-color: $color-white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @include tablet() {
    margin-top: -64px;
  }
}

.page-footer__wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  padding: 33px 25px 18px;

  @include tablet() {
    grid-template-columns: 164px 1fr 164px;
    grid-column-gap: 87px;
    align-items: center;
    padding-top: 46px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.page-footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 8px;

  @include tablet() {
    grid-row: 1/2;
    margin: 0;
  }
}

.page-footer__logo-img {
  display: inline-block;
  vertical-align: middle;
}

.page-footer__list {
  margin-bottom: 3px;

  @include tablet() {
    margin: auto 0 0;
  }
}
