.page-hero {
  background-color: $color-blue-700;
}

.page-hero__wrapper {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;

  &--slogan {
    position: relative;
    padding-bottom: 262px;
    border: none;
    outline: none;
    background-image: url("../img/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: -165px 34px;
    background-size: cover;

    &::after {
      @include pseudo();
      right: 48px;
      bottom: 0;
      width: 192px;
      height: 255px;
      //todo add retina
      background-image: url("../img/traveller-mobile.png");
    }
  }

  &--content {
    margin-top: -20px;
    margin-bottom: 29px;
  }

  &--path {
    padding-bottom: 39px;
    background: linear-gradient(180deg, $color-blue-700 22%, $color-blue-600 23%);
  }
}

.page-hero__slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: $color-white;

  @include tablet() {
    font-size: 60px;
    line-height: 70px;
    padding-right: 144px;
    padding-left: 144px;
  }
}

.page-hero__review {
  margin-top: 0;
  margin-right: auto;
  margin-left: 0;
  padding-left: 25px;
  color: $color-white;
}

.page-hero__review-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 18px;
  padding-right: 90px;
}

.page-hero__review-author {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 0;
  padding-right: 80px;
}

.page-hero__contact-us {
  margin-bottom: 28px;
}

.page-hero__path {
  @include list();
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: $color-blue-700;
}

.page-hero__path-item {
  position: relative;
  min-height: 90px;
  margin-top: -10px;
  padding: 22px 105px 32px 24px;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &::after {
    position: absolute;
    top: 22px;
    right: 21px;
    color: $color-white;
  }

  &:first-child {
    margin-top: 0;
    background-color: $color-yellow-400;

    &::after {
      content: "1";
    }
  }

  &:nth-child(2) {
    background-color: $color-yellow-300;

    &::after {
      content: "2";
    }
  }

  &:nth-child(3) {
    background-color: $color-yellow-200;

    &::after {
      content: "3";
    }
  }

  &:nth-child(4) {
    min-height: 80px;
    padding-bottom: 22px;
    border-radius: 10px;
    background-color: $color-yellow-100;

    &::after {
      content: "4";
    }
  }
}
