.social-list {
  @include list();
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-column: 1/-1;

  @include tablet() {
    margin-right: auto;
    padding-left: 59px;
  }

  &--header {
    @include desktop() {
      display: none;
    }
  }
}

.social-list__link {
  display: flex;
  padding: 0;
  width: 45px;
  height: 45px;

  @include tablet() {
    width: 62px;
    height: 62px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__icon {
  display: block;
  margin: auto;
  vertical-align: center;

  &--fb {
    width: 21px;
    height: 21px;
  }

  &--vk {
    width: 23px;
    height: 23px;
  }

  &--insta {
    width: 18px;
    height: 18px;
  }

  @include tablet() {
    &--fb {
      width: 28px;
      height: 28px;
    }

    &--vk {
      width: 31px;
      height: 31px;
    }

    &--insta {
      width: 24px;
      height: 24px;
    }
  }
}

.social-list--footer {
  @include tablet() {
    padding: 0;
    grid-column: 2/3;
  }
}

.social-list--footer .social-list__item {
  @include tablet() {
    margin-right: 0;
  }
}

.social-list--footer .social-list__link {
  border-radius: 50%;
  background-color: $color-yellow-100;
}

