// Pseudo-elements
@mixin pseudo {
  content: "";
  position: absolute;
}


// List-style
@mixin list {
  list-style: none;
  padding: 0;
  margin: 0;
}


//Viewport
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}
